{% extends "base.html" %}
{% block content %}
<nav class="navigation">
    <ul>
        <li><h4><a class="btn vk-blue" href="#1">Что такое VGA?</a></h4></li>
        <li><h4><a class="btn vk-blue" href="#2">Наша команда</a></h4></li>
        <li><h4><a class="btn vk-blue" href="#3">Что такое VGA?</a></h4></li>
        <li><h4><a class="btn vk-blue">Что такое VGA?</a></h4></li>
    </ul>
</nav>
<div class="content-block" id="1">
    <p>
        VGA - это open-source проект, являющимся анализатором групп социальной сети Вконтакте.
        Данный проект разработан для получение статистических данных о группе.
    </p>
    <p>
        Владельцы групп ВК могут сказать: "Зачем на этот сайт, если всю информацию можно получить из приложения 'ВК
        Админ'?"
        Наш проект позволяет анализировать все открытые группы, которые не скрывает своих пользователей, а не только
        свою собственную группу.
    </p>
</div>
<div class="content-block" id="2">
    <div class="bordered btn">
        <h3>Автор идеи</h3>
        <p>
            Артамонов Лев
        </p>
    </div>
    <div class="bordered btn">
        <h3>Backend-разработчик</h3>
        <p>
            Артамонов Лев
        </p>
    </div>
    <div class="bordered btn">
        <h3>Верстальщик</h3>
        <p>
            Артамонов Лев
        </p>
    </div>
    <div class="bordered btn">
        <h3>Дизайнеры сайта</h3>
        <p>
            Артамонов Лев<br>Шабалина Елена
        </p>
    </div>
    <div class="bordered btn">
        <h3>Дизайнеры логотипа сайта</h3>
        <p>
            Артамонов Лев<br>Артамонов Андрей
        </p>
    </div>
    <div class="bordered btn">
        <h3>Альфа-тестеры</h3>
        <p>
            Артамонов Лев<br>Шабалина Елена<br>Артамонов Андрей
        </p>
    </div>
    <div class="bordered btn">
        <h3>Наставник</h3>
        <p>
            Данилин Александр
        </p>
    </div>
</div>
{% endblock %}