<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" href="static/img/icons/favicon.ico">
</head>
<body>
<header>
    <div>
        <img class="icon"  style="height: 33px" src="static/img/icons/favicon.ico">
        <a href="https://github.com/lev2454" class="btn" style="bottom: 21px">Vkontakte Groups Analyzer</a>
    </div>
    <nav>
        <a class="btn colored light-lime" href="/login">Начать пользоваться</a>
        <a class="btn colored vk-blue" href="/about">О проекте</a>
        <a class="btn colored vk-blue">Поддержка</a>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>