{% extends "base.html" %}
{% block content %}
    <div align="center">
        <form class="login-form" method="post">
            <div class="form-control">
                <label for="login">Логин:</label>
                <br>
                <input id="login" name="login" required>
            </div>
            <div class="form-control">
                <label for="passwd">Пароль:</label>
                <br>
                <input id="passwd" name="password" required type="password">
            </div>
            <div class="form-control">
                {% if error == "err" %}
                    <span style="color: #f00">Не верный логин или пароль</span>
                {% endif %}
            </div>
            <button type="submit" class="btn form-sumbit">Войти</button>
        </form>
    </div>
    <div align="center" style="margin-top: 30px">
        <a class="btn vk-blue" href="/register">Регистрация</a>
    </div>
{% endblock %}