<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VGA</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" href="static/img/icons/favicon.ico">
</head>
<body>
<header>
    <div>
        <img class="icon"  style="height: 33px" src="static/img/icons/favicon.ico">
        <a href="https://github.com/lev2454" class="btn" style="bottom: 21px">Vkontakte Groups Analyzer</a>
        <h1 align="center" style="font-family: sans-serif; margin-top: -50px">Регистрация</h1>
    </div>
</header>
<a class="btn colored light-lime bordered" href="/" style="position: fixed; bottom: 20px; right: 3%; width: 92%">На
    главную</a>
<div align="center">
    <form class="login-form" method="post">
        <div class="form-control">
            <label for="login">Логин:</label>
            <br>
            <input id="login" name="login" required>
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <br>
            <input id="email" name="email" type="email" required>
        </div>
        <div class="form-control">
            <label for="passwd1">Пароль:</label>
            <br>
            <input id="passwd1" name="password1" required type="password">
        </div>
        <div class="form-control">
            <label for="passwd2">Повторите пароль:</label>
            <br>
            <input id="passwd2" name="password2" required type="password">
        </div>
        <div class="form-control">
            {% if error == "err_len_passwd" %}
                <span style="color: #f00">Too short password.</span>
            {% elif error == "err_dont_match" %}
                <span style="color: #f00">Passwords do not match.</span>
            {% elif error == "err_login_exists" %}
                <span style="color: #f00">Login already registered.</span>
            {% elif error == "err_email_exists" %}
                <span style="color: #f00">Email already registered.</span>
            {% endif %}
        </div>
        <button type="submit" class="btn form-sumbit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>