{% extends "base.html" %}
{% block content %}
    <div class="content">
        {% if group == "" %}
            <form method="post">
                <div class="work-input" align="center">
                    <label for="address">Ссылка на группу:</label>
                    <br>
                    <input id="address" type="text" name="address" style="width: 30%">
                </div>
                <div align="center">
                    <button class="work-input btn vk-blue bordered" type="submit" style="width: 20%">Анализировать</button>
                </div>
            </form>
            {% if error == "err_didnt_find" %}
                <div align="center">
                    <span style="color: #f00">Группа не найдена.</span>
                </div>
            {% endif %}
        {% else %}
            <div class="about_group">
                <h2 align="center" style="margin-top: -10px">О группе:</h2>
                {% for key in keys %}
                    <span style="btn">{{key}}: {{group[key]}}</span>
                    <hr>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
